body {
    background-color: rgb(118, 234, 234);
}
h1{
    text-align: center;
}
li{
    list-style: none;
    font-display: flex;
}
i{
 background-color: rgb(227, 229, 73);
}
ul{
    font-size: large ;
    font-style: oblique;
}

input{
    background-color: pink;
    width: 30%;
    border: none;
}
